<ion-header [translucent]="true">
  <ion-toolbar><ion-title>Calculadora de Empréstimos</ion-title></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-item class="rng">
    <ion-input type="number" label="Prestação" labelPlacement="floating" placeholder="valor"
      [(ngModel)]="valorprestacao"></ion-input>
  </ion-item>

  <ion-item class="rng">
    <ion-range labelPlacement="start" label="Taxa de Juros" [pin]="true" [pinFormatter]="pinFormatter" min="0" [(ngModel)]="taxajuros">
    </ion-range>
</ion-item>

<ion-item class="rng">
  <ion-range labelPlacement="start" label="Meses Atrasados" [pin]="true" min="0"
    max="300" step="1" [(ngModel)]="atrasoMeses">
  </ion-range>
</ion-item>

  <ion-button class="btn" expand="block" (click)="calcularPrestacao()">Calcular o valor</ion-button>

</ion-content>
